body{
    font-family: Arial, Helvetica, sans-serif !important;
}
.content{
    width: 700px !important;
    margin: 0 15px !important;
    float: left;
}
.daenerys-img{
    width: 100%;
}
.dragons-img{
    width: 100%;
}
.col{
    padding: 0 !important;
}
.oszlop{
    padding: 10px !important;
    text-align: justify;
}
h1{
    font-size: 28pt !important;
}
h2{
    font-size: 20pt !important;
    color: #000080;
}
.small-link{
    font-size: small;
    display: block;
}
table{
    margin-bottom: 0 !important;
}
.navbar{
    background: #E9E9E9;
    padding: 0 !important;
    width: 100%;
}
.navbar .container{
    margin: 0 !important;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar li{
    display: inline !important;
    float: left;
}
.navbar a{
    display: block;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
.navbar a:hover{
    transition: 300ms;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.15);
}
.active{
    text-decoration: underline !important;
}
img{
    width: 100%;
}
table thead:nth-child(1){
    background-color: #638BA8;
}