#small-dragon{
    width: 200px;
    max-height: 112px;
    position: absolute;
    top:0;
    right:0;
}
input[type=number]{
    display: block;
}
input, label{
    margin: 5px 0;
}
#popup{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    max-height: 430px;
}