body {
  background:black url("../img/bg.png") no-repeat fixed center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
#xwing
{
  width: 10%;
  position: fixed;
  bottom:0px;
  left:45%;
  background: inherit;
}
#laser
{
  width: 10%;
  position: fixed;
  bottom:0;
  left:45%;
  visibility: hidden;
}
.box{
    color: white;
    width: 250px;
}
.slider {
  -webkit-appearance: none;
  width: 250px;
  height: 15px;
  background: #db261e;
  outline: none;
  border-radius: 15px;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: #1e1a17;
  -webkit-box-shadow: 0px 0px 0px 1px white; 
  box-shadow: 0px 0px 0px 1px white;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: #1e1a17;
  -webkit-box-shadow: 0px 0px 0px 1px white; 
  box-shadow: 0px 0px 0px 1px white;
  cursor: pointer;
}
